@tailwind base;
@tailwind components;
@tailwind utilities;

.expand {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
  }
  .expand::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Border thickness */
    background-color: #562f1d;/* Border color */
    transition: width 0.3s; /* Transition duration */
  }
  .expand:hover::after {
    width: 100%; /* Expanded width on hover */
  }

  #root{
      padding: 0;
    padding-top: 1rem;
  }
  /* body{
    background-color: #f5ece6;
  } */
 